* {
    font-family: Verdana, Geneva, Tahoma, sans-serif, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;
}

nav {
    background-color: #808080;
    padding: 20px;
    border-bottom: solid 2px black;
    width: auto;
}

main {
    letter-spacing: 2px;
    margin-top: 20px;
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    list-style-type: none;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.5em;
}

a:hover {
    color: #beb1e9;
    transition: ease-in 0.5s;
}

h1 {
    text-align: right;
    letter-spacing: 2px;
    margin: 0;
    padding: 0 10px 10px 20px;
    margin-top: 20px;
    background: rgb(207, 207, 207);
    background: linear-gradient(265deg, rgba(207, 207, 207, 1) 0%, rgba(255, 255, 255, 1) 100%);
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

article {
    width: 100%;
    text-align: center;
    padding: 10px;
}

fieldset {
    border-radius: 5px;
    width: fit-content;
    padding: 10px;
    margin: 10px;
}

input,
select {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    border: 1px solid black;

}

legend {
    border: 1px solid black;
    border-radius: 5px;
    background-color: #cfcfcf;
    padding: 5px;
}

table {
    border-collapse: collapse;
    width: 10%;
    margin: auto;
}

thead {
    background-color: #cfcfcf;
}

th,
td {
    text-align: center;
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

.supprimer {
    background-color: #982600;
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
}

.supprimer:hover {
    background-color: #5c1700;
    transition: ease-in 0.5s;
}

input[type="submit"] {
    background-color: #856dd3;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #5d3ad0;
    transition: ease-in 0.5s;
}

.modifier {
    background-color: #858585;
    padding: 5px;
    color: white;
    cursor: pointer;
    border: none;
}

.modifier:hover {
    background-color: #4d4d4d;
    transition: ease-in 0.5s;
}